# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

pkg/

# Visual Studio Code
.vscode

# Ignore tool dependencies of Visual Studio Code
src/golang.org/x/
src/github.com/acroca/
src/github.com/go-delve/
src/github.com/mdempsky/
src/github.com/rogpeppe/
src/github.com/uudashr/
src/github.com/ianthehat/
src/github.com/pkg/
src/github.com/sqs/
src/github.com/derekparker/
src/github.com/karrick/
src/github.com/ramya-rao-a/
src/github.com/stamblerre/

# macOS
.DS_Store
