# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.ionide/

# .NET Core
bin/
obj/

# macOS
.DS_Store

errors.txt


# Added by cargo

/target

__pycache__/
